/* google font opensans */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Open+Sans&family=Work+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* shared style */
.txt-primary-color {
    color: #FD6E0A;
}

.btn-primary-color {
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;

}

.primary-bg {
    background-color: #FFF8F3;
}

/* base font color */
.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.text-center{
    text-align: center;
}

/* header */
.header {
    background-image: url("/assets/images/developer.png"), url("/assets/images/header_bg.png");
    background-repeat: no-repeat;
    margin-top: 38px;
    background-position: top left, bottom right;
}

/* NAV style start */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 600px;
    font-size: 45px;


}

nav ul {
    display: flex;
    text-decoration: none;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 50px;

}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* hero section */
.hero-section {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 200px;
    margin-top: 185px;
}

.hero-contain {
    max-width: 585;
}

.hero-profile-pic {
    width: 480px;
}

.hero-greetings {
    font-size: 45px;
    font-weight: 600px;
}

.hero-title {
    font-size: 75px;
    font-weight: 700;
}

.hero-desc {
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}

/* hero end */

/* main style start */
.about-section-main{
    display: flex;
    justify-content: center;
    align-items: center;

}
.section-about {
    max-width: 1140px;
    max-height: 550px;

   

    margin-top: 130px;
    margin-bottom: 130px;


}

/* about */
.about {
    /* width: 827px; */
    width: 827px;
    /* height: 288px; */
    text-align: center;
    margin: 130px 150px;
    padding: 30px 8px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);


    /* box-sizing: border-box; */
}

.section-title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;

}

.about-info-contaner {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;

}

.about-title {
    margin-top: 30px;

}

.about-info {
    font-weight: bold;
}

.section-description {
    margin-bottom: 10px;
}




.section-description {
    font-size: 18px;
    /* margin-bottom: 30px; */

}
/* skill div style start */
.skill-main-div{
    justify-content: center;
    align-items: center;
}
